Repository bird-house/emu, pull requests merged in 2018-06, with the labels that each got.

#37 Fix #36: use bumpversion
  Makefile
  docs/source/_static/README.txt
  docs/source/_static/birdhouse_logo.svg
  docs/source/_static/favicon.ico
  docs/source/conf.py
  docs/source/dev_guide.rst
  requirements_dev.txt
  setup.cfg
Labels: documentation, enhancement

#38 Fix #35: added start, stop and status commands.
  .gitignore
  .travis.yml
  Dockerfile
  Makefile
  docs/source/conf.py
  docs/source/configuration.rst
  docs/source/dev_guide.rst
  docs/source/installation.rst
  docs/source/tutorial/using_postgres.rst
  emu/__init__.py
  emu/cli.py
  environment.yml
  requirements.txt
  setup.cfg
Labels: enhancement

#39 Fix #16: Fix readthedocs build for pywps sphinx extension.
  docs/source/conf.py
  docs/source/index.rst
  docs/source/processes.rst
  emu/processes/wps_say_hello.py
  emu/processes/wps_sleep.py
  rtd.txt
Labels: documentation

#43 Added process returning netcdf and json files to test clients
  emu/data/dummy.json
  emu/data/dummy.nc
  emu/processes/__init__.py
  emu/processes/wps_output_formats.py
  environment.yml
  tests/test_output_formats.py
  tests/test_wps_caps.py
Labels: enhancement
